mixin basic(dam, engineer, title, inspector, revivion, date)
  tr 
    td 
        p.label Dam:
        p.text #{dam}
        div.ui.divider
        p.label Dam Safety Engineer:
        p.text #{engineer}
    td 
        p.label Inspection Title:
        p.text #{title}
        div.ui.divider
        p.label Inspector:
        p.text #{inspector}
    td 
        p.label Revision:
        p.text #{revisioin}
        div.ui.divider
        p.label Submitted Date:
        p.text #{date}