// Use !{var} to use unescaped conent
style(type="text/css") !{compiledStyle}
//- mixins
include components/basic.pug
    //- section header
include components/header.pug
include components/textfield.pug


table.ui.bottom.attached.table.border  
    tbody
        //- basic data
        +basic('dam')
      
            //- text field
        +textfield('title', 'value')
            //- text area
        tr.text-area
            td.border-bottom(colspan=3)
                p.label text area name
                p.text Lorem
                div.ui.divider
                label.label latitude:
                    span.text 193
                label.label(style={'margin-left': '59px'}) longtitude:
                    span.text 193
            //- numerical value
        tr.numerical
            td.border-bottom(colspan=3)
                div
                    p.label(style={'float':'left'}) Numerical Value
                    p.text(style={'float':'right'}) 24
                div(style={'clear':'both'})
                    p.label comment xxx
            //- radio button question
        tr.radio
            td.border-bottom(colspan=3)
                div
                    p.label(style={'float':'left'}) Radio Button Question:                    
                    div.ui.radio.checkbox(style={'float':'right','font-size':'9px'})
                        input(type='radio' checked=true)
                        label.text.radio-label 24                   
                div.ui.divider
                div(style={'clear':'both'})
            //- Dropdown, yes no question
        tr.dropdown.yes-no
            td.border-bottom(colspan=3)
                div
                    p.label(style={'float':'left'}) Dropdown List:
                    p.text(style={'float':'right'}) Option 3
            //- checkbox
        tr.checkbox
            td.border-bottom(colspan=3)
                div
                    p.label(style={'float':'left'}) Checkbox:
                    div(style={'float':'right', 'font-size':'9px'})
                        //- for loop
                        div.ui.checked.checkbox.block
                            input.checkbox-input(type="checkbox" checked=true)
                            label.text.checkbox-label value2
                        div.ui.checked.checkbox.block
                            input.checkbox-input(type="checkbox" checked=true)
                            label.text.checkbox-label value2
            //- custom-field
        tr.custom-field
            td.border-bottom(colspan=3)
                div
                    p.label(style={'float':'left'}) Custom field question:
                    p.text(style={'float':'left'}) Type name:
                    div(style={'float':'right', 'font-size':'9px'})
                        //- for loop
                        div.ui.input.block
                            div.ui.label.basic.text.custom-field--label R1
                            input(type="text" value="test")
                            div.ui.label.basic.text.custom-field--label Value
                        div.ui.input.block
                            div.ui.label.basic.text.custom-field--label R1
                            input(type="text" value="test")
                            div.ui.label.basic.text.custom-field--label Value
                        //- 
                    div(style={'clear':'both'}) 
                        span.label Commment: 
                        span.label(style={'font-style':'italic'}) oifjsoj


            
